In [1]:
import pandas as pd
import numpy as np

In [2]:
dfBoston=pd.read_csv("crime.csv",engine='python')
dfcodes=pd.read_csv("offense_codes.csv",engine='python')

In [3]:
newdf=pd.DataFrame()
newdf['Date']=dfBoston['OCCURRED_ON_DATE']
newdf['District']=dfBoston['DISTRICT']
newdf["Street"]=dfBoston['STREET']
newdf['CrimeType']=dfBoston['OFFENSE_CODE_GROUP']
newdf['CrimeDetail']=dfBoston['OFFENSE_DESCRIPTION']
newdf['Long']=dfBoston['Long']
newdf["Lat"]=dfBoston["Lat"]

In [4]:
newdf

,Date,District,Street,CrimeType,CrimeDetail,Long,Lat
0,2018-09-02 13:00:00,D14,LINCOLN ST,Larceny,LARCENY ALL OTHERS,-71.139371,42.357791
1,2018-08-21 00:00:00,C11,HECLA ST,Vandalism,VANDALISM,-71.060300,42.306821
2,2018-09-03 19:27:00,D4,CAZENOVE ST,Towed,TOWED MOTOR VEHICLE,-71.072429,42.346589
3,2018-09-03 21:16:00,D4,NEWCOMB ST,Investigate Property,INVESTIGATE PROPERTY,-71.078664,42.334182
4,2018-09-03 21:05:00,B3,DELHI ST,Investigate Property,INVESTIGATE PROPERTY,-71.090361,42.275365
...,...,...,...,...,...,...,...
319068,2016-06-05 17:25:00,D4,COVENTRY ST,Warrant Arrests,WARRANT ARREST,-71.085748,42.336951
319069,2015-07-09 13:38:00,E18,RIVER ST,Homicide,"MURDER, NON-NEGLIGIENT MANSLAUGHTER",-71.123172,42.255926
319070,2015-07-09 13:38:00,E18,RIVER ST,Warrant Arrests,WARRANT ARREST,-71.123172,42.255926
319071,2016-05-31 19:35:00,E13,NEW WASHINGTON ST,Warrant Arrests,WARRANT ARREST,-71.111565,42.302333
319072,2015-06-22 00:12:00,D4,WASHINGTON ST,Warrant Arrests,WARRANT ARREST,-71.080290,42.333839

In [5]:
newdf.to_csv("BostonCrimeF.csv")